.response-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  list-style-type: none;
}
.love-img {
  width: 80px;
  margin-top: 40px;
}
.thank-you-text {
  font-family: 'Roboto';
  color: #0f172a;
  font-size: 26px;
  text-align: center;
}
.feedback-response-text {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 18px;
  text-align: center;
}
